<div class="card-item">
  <div class="card">
    <div class="card-image">
      <img [src]="'https://127.0.0.1:8000/download/images/'+product.url_link" alt="">
    </div>
    <div>


      <div class="card-title">
        <a routerLink="/product/{{product.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">{{(product.name.length>6)? (product.name | slice:0:sizeStringSelected)+'...':(product.name)}}</a>
      </div>
      <div class="btn">
        <button>Buy</button>
      </div>
    </div>

  </div>
</div>
