
.form-input {
  display: block;
  border-radius: 5px;
  border: 1px solid #333333;
  font-size: 16px;
  padding: 0.5rem 5px;
  width: 100%;
  height: 100%;
}

.form-label{
  font-size: 16px;
  font-family: 'Noto Sans Display', sans-serif;
  margin-bottom: 0.5rem;
}
/*py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6*/
.login{
  display: flex;
  margin-top: 50px;
}
.login form{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.login form div{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form-button{
  background-color: green;
  border: none;
  border-radius: 0.3rem;
  font-size: 16px;
  margin-top: 0.5rem;
  padding: 0.5rem;

}
