<div class="register">
  <form
    name="login_form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
  >
    <div>
      <label class="form-label" for="name">Name</label>
      <input class="form-input" type="text" name="name" id="name" [(ngModel)]="form.name" #name="ngModel">
    </div>
    <div>
      <label class="form-label" for="email">Email</label>
      <input  class="form-input" type="text" name="email" id="email" [(ngModel)]="form.username" #email="ngModel">
    </div>
    <div>
      <label class="form-label" for="password">password</label>
      <input class="form-input" type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel">
    </div>
    <div>
      <button class="form-button">Register</button>
    </div>
  </form>
</div>
