<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-icon">
    <img src="assets/images/angular-logo.png" alt="logo angular">
    <span class="titleApp" >AnguShop</span>
  </a>
  <div class="main-navlinks">
    <button class="hamburger" (click)="goAnimate()"  type="button">
      <span [@burgerButtonSpan1]="burgerButtonOpen" ></span>
      <span [@burgerButtonSpan2]="burgerButtonOpen"></span>
      <span [@burgerButtonSpan3]="burgerButtonOpen"></span>
    </button>
      <div class="nav-links-container" [@burgerMenu]="burgerButtonOpen" >
        <app-buttonhover name="{{button.name}}" route="{{button.route}}" *ngFor="let button of list_button; let i = index" ></app-buttonhover>
      </div>
  </div>
  <div class="nav-authentication">
    <a routerLink="/cart" class="cart-img" *ngIf="islogged()">
      <img src="assets/images/shopping-cart.png" alt="user icon">
    </a>
    <a routerLink="/user" class="user-toggler">
      <img src="assets/images/profile.png" alt="user icon">
    </a>
    <div  *ngIf="islogged();then logged ;else Notlogged"> </div>
      <ng-template #Notlogged>
        <div class="sign-btns">
          <a  routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
          <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
        </div>

      </ng-template>
      <ng-template #logged>
          <a  class="user-profile" routerLink="/user">
            <img src="assets/images/profile.png" alt="user icon">
          </a>

        <div class="sign-btns">
        <a (click)="logout()">Logout</a>
        </div>
      </ng-template>

  </div>
</nav>
