h1 {
  text-align: center;
}
.cart {
  display: flex;
  flex-direction: column;
}
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.card-product-list {
  margin-left: auto;
  max-width: 100%;
 }




.card-product-list {
  margin-left: auto;
  max-width: 100%;
}

.cart-item img{
  height: 100px;
}

.card-product-label p {
  width: 100%;

}

.cart-item-qty{
  margin-left: auto;
  background-color: #dce1e1;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-gap: 3px;
  border-radius: 2px;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  margin-right:  1rem;
  text-align: center;
}
.item-qty{
  border-radius: 2px;

}
.cart-item-qty span{
  min-width: 1.5rem;
}
.cart-item-qty button{
  height: 100%;
  width: 100%;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
  background-color:transparent;
}
.cart-item-qty button:nth-child(1){
  border-right: 1px solid black;
}

.cart-item-qty button:nth-child(3){
  border-left: 1px solid black;
}
.cart-resume{
  margin-left: auto;
}

@media (max-width: 1024px) {

  .cart-container {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 720px) {

  .cart-container {
   margin-left: auto;
   margin-right: auto;
  }

  .cart-item-img{
    display: flex;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-item-qty {
    margin-top: 4px;
  margin-right:auto;
  }

  .card-item-price{
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;

  }
  .card-product-list
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-product-list table thead {
      display: none;
    }

  .card-product-list table tr{
      display: block;
      margin-bottom: 4px;
      border: 2px solid black;
      border-radius: 3px;
    }

  .card-product-list table{
    width: 100%;
  }
  .card-product-list table td {
      display: flex;
      justify-items: center;
      align-items: center;
      margin-top: 4px;
    }


}

