<div class="user-management">
<div class="user-management-form">
  <div class="item">
    <label for="name">Name</label>
    <div>
      <input type="text" id="name" name="name" [(ngModel)]="name">
      <button (click)="updateName()">Update</button>
    </div>
  </div>
  <div class="item">
    <label for="email">Email</label>
    <div>
    <input type="text" id="email" name="email" [(ngModel)]="email">
    <button (click)="updateEmail()">Update</button>
    </div>
  </div>
  <div class="item">
    <label for="password">Password</label><div>

    <input type="password" id="password" name="password" [(ngModel)]="password">
    <button (click)="updatePassword()">Update</button>
  </div>
  </div>
  <div class="delete-btn">
    <button (click)="deleteUser()" >Delete</button>
  </div>
</div>

</div>
